body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
}

.calculator {
    width: 320px;
    padding: 20px;
    background: #0f172a;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    background: #1e293b;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    padding: 18px;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    background: #1e293b;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #334155;
}

.operator {
    background: #10b981;
    font-weight: bold;
}

.operator:hover {
    background: #0ea873;
}

.clear {
    background: #ef4444;
    grid-column: span 3;
}

.clear:hover {
    background: #dc2626;
}

.equal {
    background: #3b82f6;
    grid-column: span 4;
    font-size: 1.5rem;
    font-weight: bold;
}

.equal:hover {
    background: #2563eb;
}
